<h1>Info</h1>
<h2>Name: <%= @character.first_name %> <%= @character.last_name %></h2>
<h2>Workplace: <%= @character.workplace %></h2>
<h2>Created: <%= @character.created_at %></h2>
<a href="/">Home</a>